@model List<Blogy.EntityLayer.Concrete.Writer>
@{
    ViewData["Title"] = "WriterList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategoriler</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Yazar Adı</th>
                        <th>Görsel</th>
                        <th>Yazar Durum</th>
                        <th>Yazılar</th>
                        <th>Pasif Yap</th>
                        <th>Aktif Yap</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.WriterId</td>
                            <td>@item.NameSurname</td>
                            
                            <td>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="@item.ImageUrl">
                                </li>
                            </td>
                            <td>@item.Status</td>
                            <td><a href="/Writer/Blog/MyBlogList/@item.WriterId" class="btn btn-warning">Görüntüle</a></td>
                            <td><a href="/Admin/Writer/WriterMakePassive/@item.WriterId" class="btn btn-danger">Pasif Yap</a></td>
                            <td><a href="/Admin/Writer/WriterMakeActive/@item.WriterId" class="btn btn-success">Aktif Yap</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <a href="/Admin/Category/CreateCategory/" class="btn btn-outline-success">Yeni Yazar Girişi</a>
        </div>
    </div>
</div>